<%= @group.errors.full_messages.join(", ") %>


<div class="form-horizontal">
  <!-- <fieldset> -->

  <!--  form  -->
    <%= form_for @group do |f|  %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description%>
        <%= f.text_area :description, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.radio_button("level", "1") %>
        <%= f.label :level, "Beginner", :value => "1" %>

        <%= f.radio_button("level", "2") %>
        <%= f.label :level, "Intermediate", :value => "2" %>

        <%= f.radio_button("level", "3") %>
        <%= f.label :level, "Advanced", :value => "3" %>

      </div>

      <!-- Using dummy for now since we are not sure about badges -->
      <div class="form-group">
        <%= f.radio_button("badges", "1") %>
        <%= f.label :level, "Badges", :value => "1" %>
      </div>
      <div class="form-group">
        <%= f.label :points%>
        <%= f.text_field :points, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :categories%>
        <%= f.text_field :category_id, class: "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit "Save", class: "btn2 btn-danger" %>
      </div>
    <% end %>

  <!-- </fieldset> -->
</div>
