<%= link_to "Add Group", new_group_path %>

<h3 class="text-center">Drills Group</h3>

<% @groups.each do |group| %>
<%= group.name%>
<%= link_to "View", group_path(group)%>
<%= link_to "Edit", edit_group_path(group) %>
<%= link_to "Delete", group_path(group),
                                  {method: :delete, data: {confirm: "Are you sure ?"}%>
<hr>
<% end%>