<h3 class="text-center">Create a new Group</h3>

<%= form_for @group do |f|  %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description%>
    <%= f.text_area :description%>
  </div>
  <div>
    <%= f.radio_button("level", "1") %>
    <%= f.label :level, "Beginner", :value => "1" %>
  </div>
  <div>
    <%= f.radio_button("level", "2") %>
    <%= f.label :level, "Intermediate", :value => "2" %>
  </div>
  <div>
    <%= f.radio_button("level", "3") %>
    <%= f.label :level, "Advanced", :value => "3" %>
  </div>
  <!-- Using dummy for now since we are not sure about badges -->
  <div>
    <%= f.label :level, "Badges", :value => "1" %>
    <%= f.radio_button("badges", "1") %>
  </div>
  <div>
    <%= f.label :points%>
    <%= f.text_field :points%>
  </div>
  <div>
    <%= f.label :category_id%>
    <%= f.collection_check_boxes :category_ids, Category.order(:title), :id, :title    %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
