<h2>Drill Group <%= @group.name%></h2>

<p><%= @group.description%></p>

<%= link_to "Edit", edit_group_path(@group), class: "btn2 btn-info btn-xs2" %>
<%= link_to "Delete", group_path(@group), method: :delete, class: "btn2 btn-danger btn-xs2",
                                                  data: {confirm: "Are you sure ?"} %>

<% @group.categories.each do |cat| %>
	<%= cat.title%>
<% end %>

