<%# if !@category.errors.empty? %>
    <!-- <div class="red-sm">Error (s) :
      <%#= @category.errors.full_messages.join(", ") %> !!
    </div> -->
<%# end %>

  <%= form_for @category do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "control-label text-right" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="form-group text-right">
        <%= link_to 'Cancel', categories_path, class:"btn2 btn-primary" %>
        <%= f.submit(class: "btn2 btn-success") %>
    </div>
  <% end %>
