<h2 class="text-center">Categories</h2>
<div>
  <!--  class="margin-top-30" -->
  <table class="table table-striped">
    <tbody>
      <% num = 0 %>
      <% @category.each do |cat| %>
      <% num += 1 %>
      <tr>
        <td><%= num %></td>
          <td><%= cat.title %></td>
          <td style="text-align: right"><%= link_to fa_icon("pencil-square-o"),
                                    edit_category_path(cat), class: "icon-big" %>
              <%= link_to fa_icon("trash-o"), category_path(cat), method: :delete,
                          data: {confirm: "Are you sure?"}, class: "icon-big" %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-right">
  <span><%= link_to "Create a new category", new_category_path, class: "btn2 btn-success" %></span>

</div>
