<h1 class="text-center">CATEGORY INDEX</h1>
<div>
  <!--  class="margin-top-30" -->
  <span>[<%= link_to "create new category", new_category_path %>]
  </span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% num = 0 %>
      <% @category.each do |cat| %>
      <% num += 1 %>
      <tr><td><%= num %></td>
          <td><%= link_to cat.title, category_path(cat) %></td>
          <td><%= link_to "edit", edit_category_path(cat), class: "glyphicon glyphicon-edit" %>
              <%= link_to "delete", category_path(cat), class: "glyphicon glyphicon-trash",
                          method: :delete,
                          data: {confirm: "Are you sure?"} %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
