<!DOCTYPE html>
<html>

<head>
  <title>CodeDrillz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.18/dist/jquery.flip.min.js"></script>

</head>

<body>

  <%= render "/layouts/nav" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <%= render "/layouts/flash_messages" %>
          <%= yield %>

        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
</body>

</html>
