<!-- <div class="nested-fields"> -->

  <!-- <div class ="field"> -->
    <%= f.radio_button("solution_type", "1") %>
    <%= f.label :solution_type, "Exact Match", :value => "1" %>

    <%= f.radio_button("solution_type", "2") %>
    <%= f.label :solution_type, "Regular Expression", :value => "2" %>

    <%= f.radio_button("solution_type", "3") %>
    <%= f.label :solution_type, "Test (Rspec / Jasmine)", :value => "3" %>

    <%= f.text_area :correct_answer, class: "form-control" %>
    <br>
    <div>
      <%= f.submit 'Save', class: "btn2 btn-success" %>
      <%= link_to_remove_association "Remove solution", f, class: "btn2 btn-danger" %>
    </div>

  <!-- </div> -->

<!-- </div> -->
