<div class="col-md-10 col-md-offset-1 top-20">
  <h1 class="oswald font-37">CREATE DRILLS</h1>
  <div class="form-wall">
    <%#= @drill.errors.full_messages.join(", ") %>

    <div class="form-horizontal">
      <!-- <fieldset> -->

      <!--  form  -->
      <%= form_for [@group, @drill] do |f|  %>
      <div class="form-group">
        <%= f.label :description%>
        <%= f.text_area :description, class: "form-control"%>
      </div>
      <div class="form-group">
        <%#= byebug %>
        <%= f.radio_button("solution_type", "1") %>
        <%= f.label :solution_type, "Exact Match", :value => "1" %>
        <%= f.radio_button("soluton_type", "2") %>
        <%= f.label :solution_type, "Regular Expression", :value => "2" %>
        <%= f.radio_button("solution_type", "3") %>
        <%= f.label :solution_type, "Test (Rspec / Jasmine)", :value => "3" %>
      </div>
      <div>
        <%#= f.text_area :correct_answer %>
      </div>
      <div class="form-group text-right">
        <%= f.submit "Save", class: "btn2 btn-danger" %>
      </div>
      <% end %>

      <!-- </fieldset> -->
    </div>
  </div>
</div>
