<h2 class="text-center">Drill Group: <%= @group.name %></h2>

<div>
  <!-- <p> -->
    <div class="">
      <% @group.drills.each do |drill|%>
        <h4><%= drill.description %></h4>
    </div>

      <div>
        Your Answer:
        <!-- <form id="answer">
          <input type="text_area" id="<%= dom_id(drill) %>-user-answer"></input>
          <input type="submit"></input>
        </form> -->


        <%= form_tag group_drill_path, method: :get do %>
          <%= text_area_tag(:user_answer, @user_answer, class: "form-control") %>
          <br>
          <%= button_tag  name: nil, class: "btn2 btn-success", type: "submit", id: "user_answer" do %>
           Submit
          <% end %>
        <% end %>
          <br>

        <div>

          <%# if @user_answer != "" %>
            <%# if @checked_answer == true %>
              <%# byebug %>
              <!-- <div class="correct">
                Correct!
                <%#= render "correct_answer" %>
              </div> -->
            <%# end %>
          <%# end %>
<!--

          <%# else %>
            <div class="incorrect">
              Incorrect!
            </div> -->
        </div>


        <!-- <div class="correct-answers">
          Correct Answers:
          <%# drill.solutions.each do |solution| %>
            <br>
            <%#= solution.correct_answer %>
          <%# end %>
        </div> -->


      </div>

      <!--
      <div id ="<%#= dom_id(drill) %>-correct-answer" style="display: none">
        <div class="correct">
          Correct!
        </div>
        <div class="incorrect">
          Incorrect!
        </div>
        <div class="correct-answers">
          Correct Answers:
          <%# drill.solutions.each do |solution| %>
            <br>
            <%#= solution.correct_answer %>
          <%# end %>
        </div>
      </div> -->
    <% end %>
  <!-- </p> -->
</div>
